<launch>

	<!--
	<param name="r" value="255"/>
	<param name="g"  value="25"/>
	<param name="b" value="29"/>
	-->
	
	
	
	<rosparam file="$(find beginner_tutorials)/config/params.yaml" command="load" />
	
	
	<node pkg="turtlesim" name="turtle1" type="turtlesim_node"/>
	<!--
	<node pkg="beginner_tutorials" name="changecolor" type="changecolorsrv.py" output="screen"/>
	-->
	
		<node pkg="beginner_tutorials" name="changecolor" type="changecolorsrv" output="screen"/>
		
		
</launch>
