<launch>

	<node pkg="stage_ros" name="stageros" type="stageros" args = "$(find stage_ros)/world/willow-erratic.world" output = "screen" />

		
	<node pkg="beginner_tutorials" name="move0"  type="move-stage.py" args= "0"/>
	<node pkg="beginner_tutorials" name="move1"  type="move-stage.py" args= "1"/>


	<!-- <node pkg = "beginner_tutorials" name = "move2" type = "rotate2.py" />-->



</launch>
